/* ====================================================================================================
	 CSS3 MENU
==================================================================================================== */

.main-menu {position: relative;z-index:9999;width:auto; text-align:right;}
.main-menu a {-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s;}
.main-menu ul,
.main-menu ul li,
.main-menu ul li a {position: relative; margin: 0;padding: 0;}

/* Submenu styles */
.main-menu ul li a {display: block;padding:10px;}
			
/*First level styles */			
.main-menu > ul > li > a {color: #333; padding: 22px 15px 18px 15px; font-size:13px; margin:0 -5px 0 0; text-transform:uppercase; font-weight:400;}
.main-menu > ul > li:hover > a {color: #fff; background-color:#65318f;}

/* Opacity mask when left open */
.layer {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%; 
	min-width: 100%; 
	z-index: 100; 
	min-height: 100%; 
	background-color: #000;  
	z-index:9999;
	background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    -moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    -ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    opacity: 0;
    visibility: hidden;
}
.layer-is-visible {
	   opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        -moz-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        -ms-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        -o-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
        transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

#close_in,#header_menu, .cmn-toggle-switch{display:none;}	

a.dropdown-toggle.icon-search{display: inline-block;}	

/* IE9 fix that affect the pages with parallax header (ex.single_hotel.html); Issue: submenu disappear when move the cursor to the submenu (only if you did not scroll the page) */
.ie9 a.show-submenu, .ie9 a.show-submenu-mega{ background:url(../img/fix_ie_9_menu.png);}
		
/* All styles for screen size over 992px
================================================== */
@media only screen and (min-width: 992px) {
	
.main-menu {width: auto;}
.main-menu a {white-space: nowrap;}	
.main-menu ul li {display: inline-block;}

.main-menu ul li.submenu:hover > a:before,
.main-menu ul li.submenu:hover > a:after {bottom: -20px;opacity: 0;}
		
/* Submenu */
.main-menu ul ul,
.main-menu ul .menu-wrapper {position: absolute;display: none;z-index: 1;height: auto;left: 0;top: 100%;margin: 0;padding: 0;background: #fff;min-width:190px;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);box-shadow: 0 6px 12px rgba(0, 0, 0, .175); font-weight:300; text-align:left;}

/* Submenu 3rd level */
.main-menu ul ul ul,
.main-menu ul ul .menu-wrapper {position: absolute;border-top: 0;display: none;z-index: 1;height: auto;left: 100%;top: 0;margin: 0;padding: 0;background: #fff;min-width:170px;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);box-shadow: 0 6px 12px rgba(0, 0, 0, .175);}	

/* Arrows top */
.main-menu ul ul:before{bottom: 100%;left: 15%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-bottom-color: #fff;border-width: 7px;margin-left: -7px;}

/* Arrows top 3rd level*/
.main-menu ul ul ul:before{border-width: 0;margin-left: 0;}

.main-menu ul .menu-wrapper ul {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-top: none; margin:0; padding:0;}
.main-menu ul .menu-wrapper ul:before{border:0;}

.main-menu ul li:hover > ul,
.main-menu ul li:hover > .menu-wrapper {display:block;padding: 0;}
.main-menu ul ul li {display: block;height: auto;padding: 0;}		
.main-menu ul ul li a {font-size: 13px;color: #333;border-bottom:1px solid #ededed;display: block;}
.main-menu ul ul li:last-child a {border-bottom:none;}

/* Submenu style*/
.main-menu ul ul li:hover > a {background-color:#f9f9f9;color:#65318f; padding-left:15px;}

.main-menu ul .menu-wrapper ul {position: relative;display:block;}
.main-menu ul .menu-wrapper ul {margin-bottom:15px;left: 0;}

a#search_bt span{ display:none;}

/* Megamenu */
.main-menu ul li.megamenu {position:static}
.main-menu ul li.megamenu .menu-wrapper {position: absolute;top: 100%;width:1140px;float:left;left:auto;right:0;padding:5px 30px 10px 30px;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; border-top: 2px solid #65318f; font-size:13px;}
.main-menu ul .menu-wrapper h3 {font-size: 15px;text-transform:none;border-bottom:2px solid #ededed;padding-bottom:10px;margin-bottom:10px;}
.main-menu ul .menu-wrapper .menu-item a {padding:0; margin-bottom:10px;}

.main-menu ul .menu-wrapper ul {position: relative;display:block;margin-bottom:15px;left: 0;}


.main-menu ul li.megamenu .menu-wrapper hr {margin-top:5px;}
.main-menu ul li.megamenu .menu-wrapper a.btn_outline{display:inline-block; margin-bottom:0; width:auto;padding: 8px 20px; font-size:12px;}

	
}

/* All styles for screen size between 992px and 1200px
================================================== */
@media (min-width: 992px) and (max-width: 1200px) {
/*Megamenu width*/			
.main-menu ul li.megamenu .menu-wrapper {width:940px;}
}

@media only screen and (max-width: 991px) {
	
#header_menu{text-align:center;padding:25px 15px 25px 15px;position:relative;display:block; background:#65318f url(../img/pattern_3.png) repeat;}

.main-menu ul li a:hover,
a.show-submenu:hover,
a.show-submenu:focus,
a.show-submenu-mega:hover,
a.show-submenu-mega:focus{color:#65318f !important;background-color:#f9f9f9;}	

.main-menu ul {text-align:left;}
	
.main-menu ul li  {border-top: none;border-bottom: 1px solid #ededed;color: #fff;}

/* Menu mobile first level */
.main-menu ul li.submenu > a  {background:url(../img/arrow_down_menu.svg) no-repeat center right;}	
.main-menu ul li a  {padding:10px 15px !important;}

.main-menu h3 {font-size: 13px;margin: 10px 0 0 0;padding: 0 0 0 15px;}
.megamenu .menu-wrapper > div {padding:0;}	
.main-menu ul .menu-wrapper .menu-item p {display:none;}
	
.main-menu li,
.main-menu a {display: block;color:#555 !important;}
.main-menu li {position: relative;}
	
.main-menu a:hover {color:#ed5434 !important;}
	
.main-menu ul > li {padding-bottom: 0;}
.main-menu ul > li i{float:right;}

/* Menu mobile second level */	
.main-menu ul li.submenu ul{font-size: 13px;border-left:1px solid #ededed;margin:0 0 15px 25px;}
.main-menu ul li.submenu ul li{font-size: 13px;border:0;}

/* Menu mobile left panel */	
.main-menu {
	overflow: auto;
	left: -100%;
	bottom: 0;
	width: 40%;
	height: 100%;
	opacity: 0;
	position:fixed;
	background-color:#fff;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	z-index:999999;
	-webkit-box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    1px 0px 5px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         1px 0px 5px 0px rgba(50, 50, 50, 0.55);
	}

.main-menu.show {visibility: visible;left: 0;opacity: 1;}
.main-menu .show-submenu + ul,
a.show-submenu-mega + .menu-wrapper{display: none;visibility: hidden;}
a.show-submenu-mega + .menu-wrapper.show_mega,
.main-menu a.show-submenu + ul.show_normal  {display: block;visibility: visible;}
	
/* Hamburger menu button*/
.cmn-toggle-switch {
  position: relative;
  display:block;
  overflow: visible;
  position:absolute; 
  top:20px;
  right:15px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.cmn-toggle-switch:focus {outline: none;}
.cmn-toggle-switch span {display: block;position: absolute;top: 10px;left: 0;right: 0;height: 2px;background: #555;}
header .cmn-toggle-switch span {background: #333;}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {position: absolute;display: block;left: 0;width: 100%;height:2px;background-color: #555; content: "";}
header .cmn-toggle-switch span::after, header .cmn-toggle-switch span::before {background: #333;}

.cmn-toggle-switch span::before {top: -10px;}
.cmn-toggle-switch span::after {bottom: -10px;}

.sticky .cmn-toggle-switch span::before,
.sticky .cmn-toggle-switch span::after,
.sticky .cmn-toggle-switch span {background-color: #333;}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after { -webkit-transition-duration: 0.3s, 0.3s;transition-duration: 0.3s, 0.3s;-webkit-transition-delay: 0.3s, 0;transition-delay: 0.3s, 0;}
.cmn-toggle-switch__htx span::before { -webkit-transition-property: top, -webkit-transform;transition-property: top, transform;}
.cmn-toggle-switch__htx span::after {-webkit-transition-property: bottom, -webkit-transform;transition-property: bottom, transform;}

/* active state, i.e. menu open */
.cmn-toggle-switch__htx.active span{background:none !important;}
.cmn-toggle-switch__htx.active span::before {top: 0; -webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.cmn-toggle-switch__htx.active span::after {bottom: 0;-webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {-webkit-transition-delay: 0, 0.3s;transition-delay: 0, 0.3s;}

}

@media only screen and (max-width: 600px) {
.main-menu {width: 100%;}
a#close_in {display:block;position:absolute;right:15px;top:10px;width:24px;height:24px;}
#close_in i{color:#fff !important;font-size:24px;}

}